# Ignore Composer dependencies
/vendor/

# Ignore environment configuration
.env

# Ignore system junk
Thumbs.db

# Ignore PHP session and cache files
*.log
*.cache
*.tmp
/sessions/
/cache/

# Ignore composer lock file
/composer.lock

# Ignore todo
/todo